.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  object-fit: cover; 
  height: 300px; 
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}